<h1>Blog Details</h1>
<table>
  <tr>
    <th>Title</th>
    <th>:</th>
    <td><%= @blog.title %></td>
  </tr>
  <tr>
    <th>Content</th>
    <th>:</th>
    <td><%= @blog.content %></td>
  </tr>
</table>